.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 20%;
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 10px;
    padding: 10%;
}
.selected {
    border: 1px solid var(--accent-color);
}
.default {
    border: 1px solid #BDBDBD;
}


.buttonContainerMan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 7%;
    padding-right: 7%;
}

.money {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.middleContainer {
    font-size: 50px;
    color: var(--main-color);
}

.button {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    border-radius: 10px;
    row-gap: 10px;
    margin-top: 20%;
}
.button > button {
    width: 100%;
    padding: 5%;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: var(--accent-color);

    font-family: var(--pretandard-font);
    font-weight: var(--Medium);
    font-size: 13px;
}